{% block body %}
{% trans %}Dear{% endtrans %} {{ nereid_user.name }},
<br/>
{% trans %}Thank you for signing up.{% endtrans %}
<br/>
<br/>
{% trans %}
To verify your account please
{% endtrans %}
<a href="{{ nereid_user.get_activation_link(_external=True) }}"> {% trans %}click here{% endtrans %} </a>
{% trans %}
or copy and paste it to your browser:
{% endtrans %}
<br/>
{{ nereid_user.get_activation_link(_external=True) }}
{% endblock body %}
{% block footer %}
<br/>
<br/>
{% trans %}
Thanks,
<br/>
Team
{% endtrans %}
{% endblock footer %}
