{% block body %}
  {% trans %}
  Dear user,
  {% endtrans %}
  <br/>
  <br/>
  {% trans %}
  To reset password please click the link below:
  {% endtrans %}
  <br/>
  <a href="{{ nereid_user.get_reset_password_link(_external=True) }}"> {% trans %}click here {% endtrans %}</a>
  <br/>
  {% trans %}
  or copy and paste it to your browser:
  {% endtrans %}
  <br/>
  <br/>
  {{ nereid_user.get_reset_password_link(_external=True) }}
{% endblock body %}
{% block footer %}
  <br/>
  <br/>
  {% trans %}
  Thanks,
  <br/>
  Team
  {% endtrans %}
{% endblock footer %}
