{% extends 'account-base.jinja' %}

{% block main %}
<section class="my-account">
  <div class="container">
    <div class="col-md-12">
      {{ account_header(_('My Account'), 'profile') }}
      <!-- Account Information -->
      <div class="col-md-10">
        {% block profile_form %}
        <form class="form-horizontal" role="form" autocomplete="off">
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">{{ _('Your Name') }}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="" placeholder="{{ _('Your Name') }}" value="{{ current_user.name }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">{{ _('Email') }}</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="" placeholder="{{ _('Email') }}" value="{{ current_user.email }}" disabled>
            </div>
          </div>
          <!-- Password Change Tab -->
          <div class="tab-content">
            <div class="tab-pane active" id="current-password">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">{{ _('Password') }}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="" placeholder="{{ _('Password') }}" value="********" disabled>
                </div>
                <div class="col-sm-4">
                  <a href="#new-password" data-toggle="tab"><i class="fa fa-pencil"></i>&nbsp;{{ _('Change Password') }}</a>
                </div>
              </div>
            </div>
            <!-- Tab Pane for new Password -->
            <div class="tab-pane" id="new-password">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">{{ _('Old Password') }}</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="" placeholder="{{ _('Old Password') }}">
                </div>
                <div class="col-sm-3">
                  <a href="#current-password" data-toggle="tab"><i class="fa fa-times"></i>&nbsp;{{ _('Cancel') }}</a>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">{{ _('New Password') }}</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="" placeholder="{{ _('New Password') }}">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">{{ _('Confirm Password') }}</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="" placeholder="{{ _('Confirm Password') }}">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">{{ _('Mobile No.') }} </label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="" placeholder="{{ _('your mobile no') }}" value="{{ current_user.party.phone }}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-warning btn-sm">{{ _('Save') }}</button>
            </div>
          </div>
        </form>
        {% endblock profile_form %}
      </div>
    </div>
  </div>
</section>
{% endblock main %}
