{% extends 'account-base.jinja' %}

{% from '_helpers.jinja' import render_field, render_address %}

{% block main %}
<section class="my-account">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ account_header(_('My Account / Add Card'), 'my-cards') }}
          <div class="col-md-10">
            <form action="" method="post" id="add-card" autocomplete="off">
                {{ form.hidden_tag() }}
              <div class="col-md-12">
                <div class="col-md-12">
                {{ render_field(form.owner, label_text=_("Full Name"), placeholder=_("Full Name on Card"), class_="form-control", required=required) }}
                </div>
                <div class="col-md-12">
                {{ render_field(form.number, label_text=_("Card Number"), placeholder=_("XXXX XXXX XXXX XXXX"), class_="form-control", required=required) }}
                </div>
                <div class="col-md-6">
                {{ render_field(form.expiry_month, label_text=_("Card Expiry Month"), class_="form-control") }}
                </div>
                <div class="col-md-6">
                {{ render_field(form.expiry_year, label_text=_("Card Expiry Year"), class_="form-control") }}
                </div>
                <div class="col-md-10">
                {{ render_field(form.cvv, class_="form-control", label_text=_("CVD/CVV Number"), placeholder=_("CVV"), required=required) }}
                </div>
                <div class="col-md-12">
                <button class="btn btn-warning btn-sm col-md-2" type="submit" id="save-card-btn">{{ _('Save Card') }}</button>
                </div>
              </div>
              <div class="col-md-12 center" >
                <h4>{{ _('Select your billing address or') }} <a href="{{ url_for('party.address.create_address') }}" class="btn btn-info btn-xs"title=""><i class="fa fa-plus"></i> &nbsp;{{ _('Add new address') }}</a>
                </h4>
                {% for error in form.address.errors %}
                <p class="text-warning"><i class="fa fa-warning"></i> {{ _('error') }}</p>
                {% endfor %}
              </div>
              <br>
              {% for address in current_user.party.addresses %}
              <div class="col-md-6">
                <div class="well well-small address_panel">
                  {{ render_address(address, edit=False) }}
                  <input type="checkbox" class="select-address" value="{{ address.id }}" name="address">
                    {{ _('Use this address') }}
                  </input>
                </div>
              </div>
              {% endfor %}
            </form>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}

{% block script_tags %}
{{ super }}
<script type="text/javascript">
  $('document').ready(function(){
    $('.select-address').on('change', function() {
      $('.select-address').not(this).prop('checked', false);
    });

    $('#save-card-btn').on('click', function(ev){
      if($(".address_panel input:checked").length == 0){
          new PNotify({
            title: "{{ _('message') }}",
            text: "{{ _('Please Select Billing Address to continue') }}",
            nonblock: {
              nonblock: true,
              nonblock_opacity: .4
            }
          });
        ev.preventDefault();
      }
    });
  });
</script>
{% endblock script_tags %}
