<!DOCTYPE html>
{% set version = version or '' %}
{% set CDN = CDN or '' %}
{% set LOGO = LOGO or (CDN + url_for('nereid.webshop.send_static_file', filename='images/nereid_cart_logo.png')) %}

{% macro render_breadcrumb_item(title, url) -%}
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="{{ url }}">
      <span itemprop="name">{{ title }}</span>
    </a>
  </li>
{%- endmacro %}

<html lang="{{ current_locale.language.code }}">
  <head>
    <title>{% block title %}{% trans %}Nereid Webshop{% endtrans %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link rel="icon" href="{{ SHOP_FAVICON or url_for('nereid.webshop.send_static_file', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ SHOP_FAVICON or url_for('nereid.webshop.send_static_file', filename='images/favicon.ico') }}" type="image/x-icon">
    {% block link_tags %}
    {# This block adds <link> tags to the head section of the template. #}
    <link href="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='css/typeaheadjs.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/html5shiv.js') }}"></script>
      <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/respond.min.js') }}"></script>
    <![endif]-->
    <!-- link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' -->
    <link rel="stylesheet" type="text/css" href="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='css/font-open-sans.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='css/pnotify.custom.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='css/jquery.bxslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='css/nereid.css') }}">
    {% endblock link_tags %}

    {% block base_stylesheet %}
      <link rel="stylesheet" type="text/css" href="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='css/style.css') }}?v={{ version }}">
    {% endblock base_stylesheet %}

    {% block extra_head %}
      {# This block is empty by default and can be used to add extra
        contents into the <head> tag of the generated HTML file. This is
        the right place to add references to extra CSS files.

        Though it is possible to add Javascript files to this section, It
        is not recommended.
        See why: http://developer.yahoo.com/performance/rules.html#js_bottom
        #}
    {% endblock extra_head %}
  </head>
  <body itemscope itemtype="https://schema.org/WebPage">

    {% block notification_bar %}
      {% if current_website.show_site_message %}
      <div align="center" class="alert alert-warning" id="site-message">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ current_website.site_message|safe }}
      </div>
      {% endif %}
    {% endblock %}

    {% if GOOGLE_TAG_MANAGER %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_MANAGER }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}

    {% block header %}
    <section class="header-main">
      {% block header_row_1 %}
      <!-- Top Meta Details -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div  class="top-meta hidden-xs">
              <div class="row">
                {% block locales %}
                <div class="col-xs-3">
                  <!-- Choose Language -->
                  {% if current_website.locales %}
                  {% set language = current_locale.language %}
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                      <img class="flag flag-{{ 'us' if language.code|lower == 'en' else language.code|lower }}"> {{ language.rec_name }}&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      {% for locale in current_website.locales + (current_website.default_locale,) %}
                        {% if locale.id != current_locale.id %}
                          <li>
                            <a href="{{url_for('nereid.website.home', locale=locale.code)}}">
                              <img class="flag flag-{{ 'us' if locale.language.code|lower == 'en' else locale.language.code|lower }}">&nbsp;{{ locale.language.rec_name }}
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                </div>
                {% endblock locales %}
                <div class="col-xs-9 pull-right" itemscope itemtype="https://schema.org/Organization">
                  <ul class="list-inline pull-right links">
                    {% block header_links %}
                    {% set company = current_website.company %}
                    <li>
                      {% if company.party.phone %}
                        <a href="tel:{{ company.party.phone }}">&nbsp;<i class="fa fa-phone"></i> &nbsp; <span itemprop="telephone">{{ company.party.phone }}</span></a>
                      {% endif %}
                    </li>
                    <li>
                      {% if not current_user.is_anonymous %}
                      <span class="text-muted">{{ _('Welcome') }} </span> <span >{{ current_user.name }}</span>
                      <a href="{{ url_for('nereid.website.logout') }}"><span class="text-danger"><i class="fa fa-sign-out"></i>{{ _('Log Out') }}</span>
                      </a>
                      {% else %}
                      <a class="register-buttons" href="{{ url_for('nereid.website.login') }}">{{ _('Login / SignUp') }}</a>
                      {% endif %}
                    </li>
                    {% endblock header_links %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock header_row_1 %}

      {% block header_row_2 %}
      <div class="container logo-container" itemscope itemtype="https://schema.org/Organization">
        <div class="row">
          {% block logo %}
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="main-logo">
                <a itemprop="url" href="{{ url_for('nereid.website.home') }}">
                  {% set company_logo=current_website.company.logo %}
                  <img itemprop="logo" src="{{ company_logo and company_logo.transform_command().resize(170, 57, 'a') or LOGO }}">
                </a>
              </div>
            </div>
          {% endblock logo %}
          {% block header_user %}
            {% if not checkout_page %}
            <div class="col-md-4 col-md-push-5 my-account">
              <ul class="list-inline pull-right">
                <li>
                  <div class="btn-group">
                    <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user"></i> <span class="hidden-xs hidden-sm">{{ _('My Account') }}</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    {% block render_account_menu %}
                      {% if not current_user.is_anonymous %}
                      {% block registered_menu %}
                        <li><a href="{{ url_for('nereid.website.account') }}">
                        <i class="fa fa-user"></i>&nbsp;&nbsp;{{ _('Profile') }}
                        </a></li>
                        <li><a href="{{ url_for('sale.sale.render_list') }}">
                        <i class="fa fa-cubes"></i>&nbsp;&nbsp;{{ _('My Orders') }}
                        </a></li>
                        <li><a href="{{ url_for('party.address.view_address') }}">
                        <i class="fa fa-book"></i>&nbsp;&nbsp;{{ _('Address Book') }}
                        </a></li>
                        <li><a href="{{ url_for('wishlist.wishlist.render_wishlists') }}">
                        <i class="fa fa-heart"></i>&nbsp;&nbsp;{{ _('My Wishlist') }}
                        </a></li>
                        <li><a href="{{ url_for('party.party.view_payment_profiles') }}">
                        <i class="fa fa-credit-card"></i>&nbsp;&nbsp;{{ _('My Cards') }}
                        </a></li>
                      {% endblock %}
                        <li><a href="{{ url_for('nereid.website.logout') }}">
                        <i class="fa fa-sign-out"></i>&nbsp;&nbsp;{{ _('Logout') }}
                        </a></li>
                      {% else %}
                        <li><a class="register-buttons" href="{{ url_for('nereid.website.login') }}">{{ _('Login / SignUp') }}</a></li>
                      {% endif %}
                    {% endblock %}
                    </ul>
                  </div>
                </li>
                <li class="my-cart">
                  <a href="" class="my-cart-show">{{ _('My Cart') }} <span class="quantity">0</span></a>
                </li>
              </ul>
            </div>
            {% endif %}
          {% endblock header_user %}
          {% block search %}
            {% if not checkout_page %}
            <div class="col-md-5 col-sm-12 col-xs-12 col-md-pull-4 top-search"
                itemscope itemtype="http://schema.org/WebSite">
              <meta itemprop="url" content="{{ url_for('nereid.website.home', _external=True) }}"/>
              <form action="{{ url_for('nereid.website.quick_search') }}" id="search_form"
                itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
                <meta itemprop="target" content="{{ url_for('nereid.website.quick_search', _external=True) }}?q={q}"/>
                <div id="search-bar">
                  <input type="text" class="typeahead input-text typeahead search" data-provide="typeahead" name="q" itemprop="query-input" placeholder={{ _('Search') }} required>
                    <button class="button fa-search search-btn" type="submit"></button>
                </div><!-- /input-group -->
              </form>
            </div>
            {% endif %}
          {% endblock search %}
        </div>
      </div>
      {% endblock header_row_2 %}

      <!--Main Navigation -->
      {% block main_navigation %}
      {% from '_helpers.jinja' import render_cms_root_menu %}
      {% set root_menu = current_website.cms_root_menu and render_cms_root_menu(current_website.cms_root_menu) %}
      <div class="container sticky hidden-xs">
        {% if not checkout_page %}
        <div class="row main-navigation">
          <div class="col-md-12">
            <ul class="list-inline" id="nav-list">
              {% if root_menu %}
                {{ root_menu }}
              {% endif %}
              {# add any other navigational elements like probably an article list or custom link here #}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
      {% if not checkout_page %}
      <div class="visible-xs-block mobile-view-menu">
        <nav>
          <ul class="list-unstyled main-menu">
            {% if root_menu %}
              {{ root_menu }}
            {% endif %}
            {# add any other navigational elements like probably an article list or custom link here #}
            <!--Include your navigation here-->
          </ul>
        </nav>
        <div class="navbar-header pull-right">
          <a id="nav-expander" class="nav-expander fixed">
            <i class="fa fa-bars fa-lg white"></i>
          </a>
        </div>
      </div>
      {% endif %}
      {% endblock main_navigation %}
    </section>
    <div class="container container-breadcrumb hidden-xs">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
        {% block breadcrumb %}
          {{ render_breadcrumb_item(_('Home'), url_for('nereid.website.home')) }}
        {% endblock %}
      </ol>
    </div>
    {% endblock header %}

    {% block main %}
    {% endblock main %}

    {% block recent_products %}
    {% endblock recent_products %}

    {% block footer %}
    <!--Footer Links blocks Starts-->
    <footer>
      <div class="container">
        <hr>
        <div class="row news-letter-section">
          <div class="subscribe-block">
            <div class="col-md-5 text-right text-center-xs">
              <h4>{{ _('Sign up for our Newsletter alerts') }}</h4>
            </div>
            <div class="col-md-4">
              <!--Subscribe form-->
              <form autocomplete="off">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder={{ _('you@mail.com') }}>
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><i class="fa fa-plus"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>
        <!--First Row-->
        {% if current_website.cms_root_footer %}
          <div class="row text-center-xs">
            <!-- Site Navigation and root links -->
            {% set footer_menuitem = current_website.cms_root_footer.get_menu_item(max_depth=10) %}
            {% for child in footer_menuitem.children %}
              <div class="col-md-2">
                <h4>{{ child.title }}</h4>
                <ul class="list-unstyled">
                  {% for sub_child in child.children recursive %}
                  <li>
                    <a href="{{ sub_child.link }}">{{ sub_child.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
          <hr>
        {% endif %}
        <!-- Second Row -->
        <div class="row">
          <div class="col-md-12 text-center payment-gateway">
            <h4>{{ _('Payment Gateway') }}</h4>
            <ul class="list-inline">
              <li>
                <img src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/visa.png') }}">
              </li>
              <li>
                <img src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/paypal.png') }}">
              </li>
              <li>
                <img src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/mastercard.png') }}">
              </li>
              <li>
                <img src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/solo.png') }}">
              </li>
              <li>
                <img src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/cirrus.png') }}">
              </li>
              <li>
                <img src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/western-union.png') }}">
              </li>
              <li>
                <img src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/american-express.png') }}">
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <!-- third row -->
        <div class="row copyright-footer">
          <ul class="list-inline center">
            <li>
              &copy; {{ current_website.copyright_year_range or '' }} {{ current_website.company.rec_name }} &nbsp;&nbsp;&nbsp;/
            </li>
            <li><a href=""> {{ _('All Rights Reserved') }}</a>&nbsp;&nbsp;&nbsp;/</li>
            <li><a href=""> {{ _('Privacy Policy') }}</a>&nbsp;&nbsp;&nbsp;/</li>
            <li><a href=""> {{ _('Terms of Use') }}</a>&nbsp;&nbsp;&nbsp;/</li>
            <li><a href="{{ url_for('nereid.website.render_sitemap') }}">{{ _('Sitemap') }}</a></li>
          </ul>
        </div>
      </div>
    </footer>
    {% endblock footer %}

    {% block _templates %}
    <script type="text/html"  id='cart-message'><strong><%= line.display_name %></strong>
      {{ _('added to your cart.') }} <a href="{{ url_for('nereid.cart.view_cart') }}">{{ _('checkout') }}</a>
    </script>
    <script type="text/html"  id='cart-html-append'>
      <a href="{{ url_for('nereid.cart.view_cart') }}" class="my-cart-show">{{ _('My Cart') }} <span class="quantity"><%= parseInt(cart.size) || 0 %></span></a>
      <!-- Drop down cart -->
      <div class="cart-item">
        <!-- If cart is empty -->
        <%
        if (cart.size > 0){ %>
          <div class="cart-total">
            <span class="pull-left"><%= parseInt(cart.size) %> {{ _('Item(s)') }}</span><span class="pull-right"><strong>{{ _('Subtotal') }} :</strong> <%= cart.total_amount %>
            </span>
          </div>
          <%
            _.each(cart.lines, function(line, index) { %>
              <div class="product-details">
                <div class="row">
                  <div class="col-xs-3 cart-product-image">
                    <a href="<%= line.url %>">
                      <img src="<%= line.image %>" class="img-responsive">
                    </a>
                  </div>
                  <div class="col-xs-7 cart-product-name">
                    <a href="<%= line.url %>"><%= line.display_name %>
                    </a><br>
                    <span class="text-muted"><%= line.quantity %> x <%= line.amount %></span>
                  </div>
                  <div class="col-xs-2 cart-product-total">
                    <span data-url="<%= line.remove_url %>" title="{{ _('Remove') }}" class="remove_product" data-ga-event-label="Remove From Cart Hover" data-ga-product-name="<%= line.product.name %>" data-ga-product-category="<%= line.product.account_category %>" data-ga-product-price="<%= line.amount %>" data-ga-product-id="<%= line.product.id %>" data-ga-product-quantity="<%= line.quantity %>"><i class="fa fa-trash-o"></i></span>
                  </div>
                </div>
              </div>
          <%
            });
          %>
          <a href="{{ url_for('nereid.cart.view_cart') }}" class="btn btn-danger pull-right" >{{ _('Checkout') }}</a>
        <% } else { %>
          <div class="empty-cart center">
            <i class="fa fa-frown-o fa-3x"></i>
            <h3>{{ _('hey !') }}</h3>
            <p>{{ _('Your shopping cart is empty') }}</p>
          </div>
        <% } %>
      </div>
    </script>
    {% endblock _templates %}

    <!-- javascript section -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/pnotify.custom.min.js') }}"></script>
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/underscore-min.js') }}"></script>
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/jquery.touchSwipe.min.js') }}"></script>
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/typeahead.bundle.min.js') }}"></script>
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/jquery.bxslider.min.js') }}"></script>
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/nereid.js') }}"></script>
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/jquery.sharrre.min.js') }}"></script>
    {% block script_tags %}
      {#
        use this block for additional script tags which can be replaced by downstream modules if they dont use
        a custom feature like the lightbox provided by webshop. However hard dependencies without which this
        template wont work are listed outside this block
      #}
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/app.js') }}?v={{ version }}"></script>
    <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/holder.js') }}?v={{ version }}"></script>
    {% endblock script_tags %}

    <script type="text/javascript">
      var csrftoken = $('meta[name=csrf-token]').attr('content')

      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken)
              }
          }
      })
    </script>

    {% block flash_message_script %}
      {#
        This block is separate, to change flash message display behaviour on other pages.
        Like on login page, flash message should not just go away by saying
        `invalid credentials`, it should stay there somewhere on page.
      #}
      <script type="text/javascript">
        $(document).ready(function($){
          {# Message flashin #}
          PNotify.prototype.options.styling = 'fontawesome';
          PNotify.prototype.options.icon = false;
          var msg_elm = $('#flash-messages');

          {% for category, message in get_flashed_messages(with_categories=True) %}
            if (msg_elm.length) {
              // If flash-message block is there. append msg to that.
              msg_elm.append(
                '<div class="alert alert-warning" role="alert"><strong>{{ category }}</strong> {{ message }}</div>'
              );
            }
            else {
              // Else fallback to pnotify
              new PNotify({
                title: '{{ category }}',
                text: '{{ message }}',
                type: '{{ category }}',
                delay:2000,
                animation: 'show'
              });
            }
          {% endfor %}
        });
      </script>
    {% endblock flash_message_script %}

    <script>
      $(document).ready(function(){
       //Navigation Menu Slider
        $('#nav-expander').on('click',function(e){
          e.preventDefault();
          if($(this).children('.fa').hasClass('fa-bars')) {
            $(this).children('.fa-bars').removeClass('fa-bars');
            $(this).children('.fa').addClass('fa-close');
            $('a.nav-expander.fixed').css("background","#898A8E");
          }
          else {
            $(this).children('.fa-close').removeClass('fa-close');
            $(this).children('.fa').addClass('fa-bars');
            $('a.nav-expander.fixed').css("background","#000");
          }
          $('a.nav-expander.fixed').css({"-webkit-transition":"background-color 500ms linear","-moz-transition":"background-color 500ms linear","-o-transition":"background-color 500ms linear","transition":"background-color 500ms linear"});
          $('.visible-xs-block').toggleClass('nav-expanded');
        });
      });
    </script>

    <script type="text/javascript">
      function disableBuyNow (lines) {
        // Disable buy now button for already bought items from cart lines
        // TODO: Handle case same way when product is removed from cart.
        $.each(lines, function(index, line) {
          $(".product-" + line.product.id + "-buy-now-btn")
            .attr('disabled', 'disabled');
            var isDisabled=$(".product-" + line.product.id + "-buy-now-btn").prop('disabled');
            if(isDisabled){
              $('.tooltip-bottom-'+ line.product.id).tooltip({
                title: "{{ _('This product is already added to the cart') }}",
                placement: "bottom"
              });
            }
        });
      }

      function updatedCart(){
        $.get("{{ url_for('nereid.cart.cart_json') }}", function(data){
          var template = $("#cart-html-append").html();
          $("li.my-cart").html(_.template(template, {'cart': data.cart}));
          userDataCallbacks.fire(data);
          var cart_items=data.cart.lines;
          if (cart_items) {
            disableBuyNow(cart_items);
          }
          $('.remove_product, .remove_from_cart').on('click', function(e){
            var delUrl = $(this).data("url");
            if(typeof ga == 'undefined'){
              removeFromCart(delUrl);
              return true;
            }
            e.preventDefault();

            var alreadySubmitted = false;
            var form = this;

            /* The code below registers a timeout which acts
             * as a safety net. The boolean alreadySubmitted is used
             * to check whether the form was already submitted or not.
             * It is used by the callbacks in setTimeout and GA. It is to
             * avoid the specific cases where both callbacks fire, resulting
             * in a double form submission.
             */

            var t = setTimeout(function() {
              if (alreadySubmitted) return;
              alreadySubmitted = true;
              removeFromCart(delUrl);
            }, 500);

            ga('ec:addProduct', {
              'id': $(this).data('ga-product-id'),
              'name': $(this).data('ga-product-name'),
              'category': $(this).data('ga-product-category'),
              'price': $(this).data('ga-product-price'),
              'quantity': $(this).data('ga-product-quantity'),
            });
            ga('ec:setAction', 'remove');
            ga('send', 'event', 'CartAnalytics', 'click', $(this).data('ga-event-label') || '', {
              'hitCallback': function() {
                if (alreadySubmitted) return;
                alreadySubmitted = true;
                // Remove anyway
                removeFromCart(delUrl);
            }});
          });
          $(document).trigger("updatedCart", data);
        });
      };
      var userDataCallbacks = $.Callbacks("");
      function removeFromCart(url){
        $.ajax({
          type: "DELETE",
          url: url,
        })
        .success(function(){
          location.reload();
        });
      }
    </script>
    <script type="text/javascript">
      $(function () {
        updatedCart();
        if (sessionStorage.hide_site_message) {
          $("#site-message").addClass("hidden");
        } else {
            $("#site-message").on("click", function(){
		$("#site-message").addClass("hidden");
		sessionStorage.hide_site_message = true;
        })}
      });
    </script>
    <script type="text/javascript">
      $('.product-buy-now').on('click', function(e){
        var qty_element = $(this).siblings("input[name='quantity']");
        var product_element = $(this).siblings("input[name='product']");
        var new_quantity = parseInt(qty_element.val());
        var template = $("#cart-message").html();

        $.ajax({
          type: "POST",
          url: "{{ url_for('nereid.cart.add_to_cart') }}",
          data: {'quantity': new_quantity, 'product': product_element.val()}
        })
        .done(function(result){
          updatedCart();
          if (result.line) {
            notify({
              style: 'top_sticky',
              message: _.template(template, {'line': result.line})
            });
          }
        })
        .fail(function (result){
          var obj = JSON.parse(result.responseText);
          new PNotify({
            title: "{{ _('Alert') }}",
            text: obj.message,
            type: 'error',
            nonblock: {
              nonblock: true,
              nonblock_opacity: .4
            },
            delay:2000,
            animation: 'show'
          });
          if (obj.redirect_to) {
            // Redirect to page if specified
            window.location = obj.redirect_to;
          }
        });
      });
    </script>
    <script>
      $(document).ready(function(){
        function resize_products () {
          var tallest_el_height = 0;
          $('.product-list').children()
            .height('auto')
            .each(function() {
              if ($(this).height() > tallest_el_height){
                tallest_el_height=$(this).height()
              }})
            .height(tallest_el_height);
        }

        // Resize on load
        $('.product-list').imagesLoaded(resize_products);

        // Adjust height on window resize
        $(window).on('resize', resize_products);

      });
    </script>
    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', {
        trackingId: '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}',
        cookieDomain: 'auto'
        {% if not current_user.is_anonymous %}
        ,userId: {{ current_user.id }}
        {% endif %}
      });
      ga('require', 'displayfeatures');
      ga('require', 'ec');

      {% block ga_page_view %}
        {# In downstream pages add calls to be made before send here #}
      {% endblock ga_page_view %}

      // Tracking product clicks.
      $(function (){
        $('a[href][ga-product-link]').on("click", function(e){
          if(typeof ga == 'undefined'){
            return true;
          }
          ga('ec:addProduct', {
            'id': $(this).data('ga-product-id'),
            'name': $(this).data('ga-product-name'),
            'category': $(this).data('ga-product-category')
          });
          ga('ec:setAction', 'click', {list: $(this).data('ga-product-list')});
          ga('send', 'event', 'Product', 'click', $(this).data('ga-event-label') || '', {transport: 'beacon'});
        });
      });

      //Tracking product add-to-cart.
      $(function() {
        $('.add-to-cart').submit(function(e){
          if(typeof ga == 'undefined'){
            return true;
          }
          e.preventDefault();

          var alreadySubmitted = false;
          var form = this;

          /* The code below registers a timeout which acts
           * as a safety net. The boolean alreadySubmitted is used
           * to check whether the form was already submitted or not.
           * It is used by the callbacks in setTimeout and GA. It is to
           * avoid the specific cases where both callbacks fire, resulting
           * in a double form submission.
           */

          var t = setTimeout(function() {
            if (alreadySubmitted) return;
            alreadySubmitted = true;
            form.submit();
          }, 500);

          ga('ec:addProduct', {
            'id': $(this).children("input[name='product']").attr('value'),
            'name': $(this).data('ga-product-name'),
            'category': $(this).data('ga-product-category'),
            'price': $(this).data('ga-product-price'),
            'quantity': $(this).children("input[name='quantity']").attr('value'),
          });
          ga('ec:setAction', 'add');
          ga('send', 'event', 'CartAnalytics', 'click', $(this).data('ga-event-label') || '', {
            'hitCallback': function() {
              if (alreadySubmitted) return;
              alreadySubmitted = true;
              // Submit anyway
              form.submit();
            }});
        });
      });

      ga('send', 'pageview');

    </script>
    {% endif %}
    <script type="text/javascript">
      $(document).ready(function(){
        var products = new Bloodhound({
          datumTokenizer: function (datum) {
            return Bloodhound.tokenizers.whitespace(datum.value);
          },
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: {
          url: "{{ url_for('nereid.website.search_auto_complete') }}?q=%QUERY",
            filter: function (products) {
              return products.results;
            }
          }
        });

        products.initialize();

        $('#search-bar .typeahead').typeahead({
          hint: true,
          minLength: 2,
          highlight: true
        },
        {
          name: 'products',
          displayKey: 'display_name',
          source: products.ttAdapter(),
          templates: {
            suggestion: _.template("<a href=<%=url%>><%= display_name %></a>")
          }
        });
      });
    </script>

    {% block scripts %}
    {% endblock scripts %}

    {% if GOOGLE_TAG_MANAGER_ID %}
      <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_MANAGER_ID }}"
          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER_ID }}');</script>
      <!-- End Google Tag Manager -->
    {% endif %}

    {% if OLARK_SITE_ID %}
    <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
    0:+new Date};a.P=function(u){
    a.p[u]=new Date-a.p[0]};function s(){
    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
    b.contentWindow[g].open()}catch(w){
    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('{{ OLARK_SITE_ID }}');/*]]>*/</script><noscript><a href="https://www.olark.com/site/2036-772-10-9217/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->
    <!-- Additional olark stuff -->
    <script type="text/javascript">
      function updateOlark(cartData) {
        var details = [];
        if (cartData.name) {
          details.push(cartData.name);
        } else {
          details.push('Guest User');
        }
        if (cartData.total_amount) {
          details.push('Cart Total:' + cartData.total_amount);
          details.push('Cart Size: ' + cartData.cart_size);
        }
        olark('api.chat.updateVisitorNickname', {snippet: details});
      };
      userDataCallbacks.add(updateOlark);
    </script>
    <!-- END: Additional Olark Stuff -->
    {% endif %}
  </body>
</html>
