{% extends 'base.jinja' %}

{% block title %}{{ _('Return #') }}{{ complaint.reference }}{{ super() }}{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>{{ _('Return #') }}{{ complaint.reference }}</h4>
    </div>
  </div>
  {% set line = complaint.origin %}
  <div class="row margin-top-15">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>{{ _('Product') }}</th>
            <th>{{ _('Price') }}</th>
            <th>{{ _('Quantity') }}</th>
            <th>{{ _('SubTotal') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="{{ CDN }}{{ line.product.default_image and line.product.default_image.transform_command().thumbnail(200, 200, 'a') }}"
              alt="{{ line.product.name }}"
              title="{{ line.product.name }}"
              class="img-responsive img-rounded margin-auto"
              />
            </td>
            <td>
              {{ line.product.name }}
              <br>
              {% if line.product.code %}
              <strong>{{ _('SKU:') }}</strong>{{ line.product.code }}
              {% endif %}
            </td>
            <td>{{ line.unit_price|currencyformat(line.sale.currency.code) }}</td>
            <td>{{ line.quantity }}</td>
            <td>{{ line.amount|currencyformat(line.sale.currency.code) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="order-summary">
        <h4>{{ _('Order Summary') }}</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table text-right table-borderless">
                <tbody>
                  <tr>
                    <td>{{ _('Order No.') }}</td>
                    <td><a href="{{ url_for('sale.sale.render', active_id=line.sale.id) }}" class="text-info">#{{ line.sale.number }}</a></td>
                  </tr>
                  <tr>
                    <td>{{ _('Return Date') }}</td>
                    <td>{{ complaint.date|dateformat }}</td>
                  </tr>
                  <tr>
                  <td>{{ _('Total Refund') }}</td>
                    <td>{{ line.amount|currencyformat(line.sale.currency.code) }}</td>
                  </tr>
                  <tr>
                    <td>{{ _('Return State:') }}</td>
                    <td>{{ complaint.state }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {% if complaint.return_reason %}
    <div class="row margin-top-15">
      <div class="col-md-12">
        <h4>{{ _('Reason for Return:') }}<small> {{ complaint.return_reason.name }}
        {% if complaint.return_reason.description %}
          <br /><br />
          {{ complaint.return_reason.description }}
        {% endif %}</small></h4>
      </div>
    </div>
  {% endif %}
  {% if complaint.description %}
    <div class="row margin-bottom-10">
      <div class="col-md-12">
        <h4>{{ _('Comments:') }} <small>{{ complaint.description }}</small></h4>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
