{% extends 'base.jinja' %}

{% block breadcrumb %}
{{ render_breadcrumb_item(_('Home'), url_for('nereid.website.home')) }}
{% endblock breadcrumb %}

{% set latest_products = current_website.latest_products_node and current_website.latest_products_node.get_products(per_page=24) %}

{% block main %}

{% block banner %}
{% set home_page_banners = get_banner_category('Home Page Banners') and get_banner_category('Home Page Banners').published_banners %}
{% if home_page_banners %}
<section class="main-banner">
  <div class="container">
    <div class="row">
      <!-- Banner Background Image -->
      <div class="col-md-12">
        <div id="homepage-banner-carousel" class="carousel slide homepage-carousel" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators hidden-xs">
            {% for banner in home_page_banners %}
            <li data-target="#homepage-banner-carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner" role="listbox">
          {% for banner in home_page_banners %}
            <div class="item {% if loop.first %}active{% endif %}">
              {% if banner.type == 'custom_code' %}
                {{ banner.custom_code|safe }}
              {% else %}
                {# type is 'media' #}
                {%- if banner.click_url %} <a href="{{ banner.click_url }}">{% endif -%}
                  {%- if banner.file.mimetype.startswith("image") -%}
                  <img src="{{ banner.file.url }}" class="margin-auto"
                    {%- if banner.alternative_text %} alt="{{ banner.alternative_text }}"{% endif -%}
                    {%- if banner.width %} width="{{ banner.width }}"{% endif -%}
                    {%- if banner.height %} height="{{ banner.height }}"{% endif -%}
		  />
                  {%- endif %}
                  <div class="carousel-caption">
                    <h4>{{ banner.name }}</h4>
                    <p>{{ banner.description }}</p>
                  </div>
                {%- if banner.click_url %}</a>{% endif -%}
              {%- endif %}
            </div>
          {% endfor %}
          </div>
        <a class="left carousel-control hidden-xs" href="#homepage-banner-carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control hidden-xs" href="#homepage-banner-carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock banner %}

<section class="products latest">
  <div class="container">
    {% set homepage_menus = current_website.homepage_menu and current_website.homepage_menu.get_menu_item(max_depth=3).children %}
    {% if homepage_menus %}
      {% for child_menu in homepage_menus %}
        <div class="row section-spaces">
          <h3 class="text-center mrt-0">{{ child_menu.title }}</h3>
          <br>
          <div class="col-md-12 product-data">
            <div class="client-slider">
            {% for child in child_menu.children %}
              <div class="slide">
                <a href="{{ child.link }}">
                  <img class="img img-responsive margin-auto"
                    {% if child.image %}
                      src="{{ CDN }}{{ child.image.transform_command().thumbnail(400, 400, 'a') }}"
                    {% else %}
                      src="{{ CDN + url_for('nereid.webshop.send_static_file', filename='images/no-image.jpg') }}"
                    {% endif %}
                  alt="{{ child.title }}" title="{{ child.title }}">
                </a>
                {% if child.record and child.record.__name__ == 'product.product' %}
                  {% set product = child.record %}
                  <div class="caption">
                    <h5 class="center">
                      <a href="{{ product.get_absolute_url() }}" ga-product-link="" data-ga-product-list="Homepage" data-ga-event-label="Product Name" data-ga-product-id="{{ product.id }}" data-ga-product-name="{{ product.name }}" data-ga-product-category="None">{{ product.name }}</a>
                    </h5>
                  <h6 class="text-danger center">{{ product.sale_price(1) | currencyformat(current_locale.currency.code) }}</h6> 
                  </div>
                {% endif %}

              </div>
            {% endfor %}
            </div>
            <div class="bx-controls-direction">
              <a class="bx-prev" href="#"></a>
              <a class="bx-next" href="#"></a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <br>
  </div>
</section>
<div class="container">
  <hr class="margin-0">
</div>
<section>
  <div class="container">
    <div class="col-md-12 shop-assurance">
      <ul class="list-inline center">
        <li>
          <div class="feature-assurance">
            <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/assurance/lock.png') }}">
            <h5>SECURE PAYMENT</h5>
            <p>Payment via credit card or Paypal</p>
          </div>
        </li>
        <li>
          <div class="feature-assurance">
            <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/assurance/warranty-services.png') }}">
            <h5>WARRANTY &amp; SERVICE</h5>
            <p>Our customer service is simple and effective.</p>
          </div>
        </li>
        <li>
          <div class="feature-assurance">
            <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/assurance/heart.png') }}">
            <h5>QUALITY</h5>
            <p>We are Certified Quality and Environment. And Living Heritage Company.</p>
          </div>
        </li>
        <li>
          <div class="feature-assurance">
            <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/assurance/customer-service.png') }}">
            <h5>CUSTOMER SERVICE</h5>
            <p>A doubt, a question? reach us at 0000-000-0000.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock main %}


{% block script_tags %}
{{ super() }}
<script type="text/javascript">
  $('.container-breadcrumb').hide();
</script>
{% endblock script_tags %}


{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
  //Enable swiping...
  $(".carousel-inner").swipe({
    swipeLeft:function(event, direction, distance, duration, fingerCount) {
      $(this).parent().carousel('next');
    },
    swipeRight: function() {
      $(this).parent().carousel('prev');
    },
    excludedElements: ""
  });
  
  $('.client-slider').bxSlider({
    slideWidth: 230,
    minSlides: 2,
    maxSlides: 4,
    slideMargin: 10,
    infiniteLoop: true,
    pager:false,
    auto:false,
    autoControls: true,
    moveSlides: 1,
  });
  $('.carousel').carousel({
    interval: 5000
  })
});
</script>
{% endblock scripts %}
