{% extends 'base.jinja' %}

{% from '_helpers.jinja' import render_field %}

{% block title %}{{ super() }} | Login{% endblock title %}

{% block breadcrumb %}
{{ super() }}
{{ render_breadcrumb_item(_('Login'), url_for('nereid.website.login')) }}
{% endblock breadcrumb %}

{% block main %}
<section>
  <div class="container">
    <!--Login Container-->
    <div class="row login-container">
      <div class="account-auth col-md-10 col-md-offset-1">
        <div class="login-header center">
          <h5 class="modal-title login-text">{{ _('New to shop ?') }} <a href="{{ url_for('nereid.user.registration') }}"><span>{{ _('Register here') }} </span></a></h5>
        </div>
        <div class="login-body">
          <h4 class="center login-text"><span>{{ _('Log in to your account') }}</span></h4>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <form class="login-form" method="POST" autocomplete="off">
                {{ login_form.hidden_tag()  }}
                {{ render_field(login_form.email, placeholder= _('Enter your E-mail'), required=required, type="email") }}
                {{ render_field(login_form.password, placeholder=_('Your Password'), required=required) }}
                <div class="checkbox">
                  <input type="checkbox" name="remember" id="remember_me">
                  <label for="remember_me">{{ _('Remember Me') }}</label>
                </div>
                <button type="submit" class="btn btn-lg btn-block">{{ _('Login') }}</button>
                <a href="{{ url_for('nereid.user.reset_account', next=request.args.get('next', url_for('nereid.website.home'))) }}" class="text-muted"><strong>{{ _('Forgot Password ?') }}</strong></a>
              </form>
            </div>
          </div>
        </div>
      </div><!-- /.account-auth -->
    </div><!-- /.login-container -->
  </div><!-- /.container -->
</section>
{% endblock main %}
