{% extends 'base.jinja' %}

{% set node = node or product.nodes and product.nodes[0].node %}
{% set cross_sells = product.cross_sells|selectattr("displayed_on_eshop")|list %}

{% from '_helpers.jinja' import render_product %}

{% block title %}{{ product.name }} {{ super() }}{% endblock title %}
{% block meta_description %}{{ (product.get_description() or '')|striptags|truncate(300) }}{% endblock %}

{% block base_stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='css/lightbox.css') }}">
  {{ super() }}
{% endblock base_stylesheet %}

{% block extra_head %}
{{ super() }}
<!-- og -->
<meta property="og:url" content="{{ url_for('product.product.render', uri=product.uri, _external=True) }}"/>
<meta property="og:title" content="{{ product.name  }}" />
<meta property="og:description" content="{{ (product.get_description() or '')|striptags|truncate(300) }}" />
<meta property="og:type" content="product"/>
<meta property="og:image" content="{{ CDN }}{{ product.default_image and product.default_image.transform_command().thumbnail(1500, 1500, 'a') }}"/>
{% for code in product.codes %}
{% if code.code_type == 'upc-a' %}
<meta property="og:upc" content="{{ code.code }}"/>
{% endif %}
{% endfor %}
{% endblock extra_head %}

{% block breadcrumb %}
{{ super() }}
{% if node %}
  {% for url, title in make_tree_crumbs(node=node, add_home=False)[1:] %}
    {{ render_breadcrumb_item(title, url) }}
  {% endfor %}
{% endif %}
{{ render_breadcrumb_item(product.name, product.get_absolute_url()) }}
{% endblock breadcrumb %}

{% block main %}
<!-- Product Section starts -->
<div class="container" itemscope itemtype="http://schema.org/Product">
  {% if node %}
  <meta itemprop="category" content="{{ node.rec_name.replace('/', '>')}}"/>
  {% endif %}

  <!--Product-main section-->
  {% block product_top %}
  <div class="row">

    {% block product_image_gallery %}
    <div class="col-md-5 col-sm-6 col-xs-12">
      <div class="col-md-12 product-img-gallery">
        <div class="tab-content" id="pane-tab">
          {% if product.get_images() %}
          {% for image in product.get_images() %}
          <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab{{ loop.index }}">
            <div class="zoom-container">
              <a id="zoom-target" href="{{ image.url }}" data-lightbox="{{ product.id }}" >
                <img class="zoom-image" src="{{ image.transform_command().thumbnail(500, 500, 'a') }}" alt="{{ product.name }}"/>
              </a>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <img class="img img-responsive margin-auto"
              src="{{ CDN }}{{ product.default_image and product.default_image.transform_command().thumbnail(400, 400, 'a') }}"
              alt="{{ product.name }}" title="{{ product.name }}"/>
          {% endif %}
        </div>
      </div>
      <div class="col-md-12 related-products text-center-xs">
        <ul class="list-inline" id="list-tab">
          {% for image in product.get_images() %}
          <li class="{% if loop.first %}active{% endif %} sub-products">
            <a href="#tab{{ loop.index }}" data-toggle="tab">
              <img src="{{ image.transform_command().thumbnail(120, 120, 'a') }}" alt="{{ product.name }}"/>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endblock product_image_gallery %}

    {% block product_info %}
    <div class="col-md-4 col-sm-6 col-xs-12">

      {% block product_name_price %}
      <h3 class="product-heading product-name product-item-name">
        <span itemprop="name" class="heading-500">{{ product.name }}</span>
      </h3>
      {% if product.code %}
      <h4>
        <small class="product-code" itemprop="sku" content="{{ product.code }}">{{ _('SKU:') }} {{ product.code }}</small>
      </h4>
      {% endif %}
      {% endblock product_name_price %}
      {% block product_description %}
      <!--Product Description -->
      <div class="row">
        <div class="col-md-12 product-desc">
          <p itemprop="description">{{ product.get_description() }}</p>
        </div>
      </div>
      {% endblock product_description %}
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="buy-box">
        {% block buy_box %}
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ current_locale.currency.code }}" />
          {% set sale_price = product.sale_price(1) %}
          {% if sale_price < product.list_price %}
          <h4 class="product-price heading-500 text-center">
            <span class="not">{{ product.list_price|currencyformat(current_locale.currency.code) }}</span>
            <span>{{ sale_price|currencyformat(current_locale.currency.code) }}</span>
          </h4>
          {% else %}
          <h4 class="product-price product-list-price text-center">{{ sale_price|currencyformat(current_locale.currency.code) }}</h4>
          {% endif %}
          <meta itemprop="price" content="{{ sale_price }}" />
          {% if product.template.get_product_variation_data %}
            <div class="row" id="product-varying-attrs"></div>
          {% else %}
            {% if product.template.products_displayed_on_eshop|length > 1 %}
            {# show if there are more variants than the one being displayed #}
            <div class="product-size row"> {{ _('Select Variation:') }} <br>
              <div class="size-buttons">
                {% for variant in product.template.products_displayed_on_eshop %}
                <a class="btn btn-size"
                  href="{{ url_for('product.product.render', uri=variant.uri) }}"
                  type="radio" value="{{ variant.id }}">{{ variant.code }}</a>
                {% endfor %}
              </div>
              <span class="error-text text-danger"> {{ _('Please select an option') }}</span>
            </div>
            {% endif %}
          {% endif %}
        </div>
        {% endblock buy_box %}
        {% block buy_buttons %}
        <div class="row">
          {% if product.salable %}
          <div class="col-md-12 col-sm-12 col-xs-12 buy-now">
            <form action="{{ url_for("nereid.cart.add_to_cart") }}" method="post" id="product-buy-now" class="add-to-cart" autocomplete="off" data-ga-event-label="Add To Cart" data-ga-product-name="{{ product.name }}" data-ga-product-category="{{ product.account_category and product.account_category.name or None }}" data-ga-product-price="{{ product.sale_price()|currencyformat(current_locale.currency.code) }}">
              <div class="tooltip-bottom-{{ product.id }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="quantity" value="1"/>
                <input type="hidden" name="size" id="size-id"/>
                <input type="hidden" name="product" value="{{ product.id }}"/>
                <input type="hidden" name="action" value="add"/>
                <button class="btn btn-primary btn-buynow btn-block btn-lg product-buy-now product-{{ product.id }}-buy-now-btn" type="button"{% if not product.can_buy_from_eshop() %} disabled{% endif %}
                quantity="1" id="buy-now-btn">{{ _('Add to Cart') }}</button>
              </div>
            </form>
          </div>
            {% if product.type == 'goods' %}
            {% set status = product.inventory_status() %}
              <div class="clearfix"></div>
              <div style="padding-top:15px;" class="text-center" id="product-inventory">
                <span class="text-{% if status[0] == 'in_stock' %}info{% else %}danger{% endif %}">
                  <i class="fa fa-{% if status[0] == 'in_stock' %}info{% else %}warning{% endif %}"></i>
                  {{ status[1] }}
                </span>
              </div>
            {% endif %}
          {% else %}
          <div style="padding-top:15px;">
            <span class="text-danger" id="product-not-for-sale"><i class="fa fa-warning"></i> {{ _('This product is not for sale') }}</span>
          </div>
          {% endif %}
        </div>
        <hr/>
        {% endblock buy_buttons %}

        {% block add_to_wishlist %}
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 center" id="add-to-wishlist">
            <form method="post" action="{{ url_for('wishlist.wishlist.wishlist_product') }}" 
            autocomplete="off" style="display:inline-block">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <input type="hidden" name="action" value="add"/>
              <input type="hidden" name="product" value="{{ product.id }}" />
              <div class="btn-group btn-block ">
                {% if current_user.is_authenticated %}
                <button type="submit" class="btn btn-link wishlist_button_nopop">{{ _('Add To Wishlist') }}</button>
                {% else %}
                {# Guest user can't add any product to a wishlist, so asking user for login and redirecting back to same page #}
                <a href="{{ url_for('nereid.website.login', next=request.path) }}" class="btn btn-link wishlist_button_nopop">{{ _('Add To Wishlist') }}</a>
                {% endif %}
                {% if current_user.wishlists|length > 0 %}
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" id="wishlist-dropdown">
                  <i class="fa fa-angle-down"></i>
                  <span class="sr-only">{{ _('Toggle Dropdown') }}</span>
                </button>
                {# Drop down for add to wishlist #}
                <ul class="dropdown-menu" role="menu" aria-labelledby="wishlist-dropdown">
                  {% for wishlist in current_user.wishlists %}
                  <li name="wishlist" value="{{ wishlist.id }}" class="center">{{ wishlist.name|title }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
        <hr/>
        
        {% endblock add_to_wishlist %}
      </div>
      {% block social_sharing %}
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 margin-top-15">
          <iframe src="//www.facebook.com/plugins/like.php?href={{ request.url }}&amp;width=100&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21" scrolling="no" frameborder="0" class="social-share-size fb-share" allowTransparency="true"></iframe>

          <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/tweet_button.1409790579.html#_=1410386437422&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer={{ request.url }}&amp;size=m&amp;text={{ product.name }}&amp;url={{ request.url }}&amp;via=lienielsen" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal social-share-size" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>

          <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" class="social-share-size g-plus-share" tabindex="0" vspace="0" width="100%" id="I0_1410386437914" name="I0_1410386437914" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin={{ url_for('nereid.website.home') }}&amp;url={{ request.url }}&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en_GB.bOMtuFSNe94.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAItRSTOujc8SYAzCQeCkyBpa4IGrtBYRdA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1410386437914&amp;parent={{ url_for('nereid.website.home') }}&amp;pfname=&amp;rpctoken=39349999" data-gapiattached="true" title="+1"></iframe>

        </div>
      </div>
      {% endblock social_sharing %}

    {% endblock product_info %}
    </div>

  </div><!-- END row -->
  {% endblock product_top %}

  <hr/>
  {% block product_long_description %}
    {% if product.get_long_description() %}
      <section>
        <p itemprop="description">{{ product.get_long_description() }}</p>
      </section>
      <hr/>
    {% endif %}
  {% endblock product_long_description %}
  
  {% block product_bottom %}

  {% block related_products %}
  <!-- Related Products -->
  <div class="{% if cross_sells %} col-md-12 col-sm-12 {% else %} hidden {% endif %} related-prod">
    {# heading for column #}
    <h4>{{ _('Related Items') }}</h4>
    <div class="row related-product-row text-center">
    {% for related_product in cross_sells %}
    
      <div class="col-md-3">
        <div class="related-product-images">
          <a href="{{ related_product.get_absolute_url() }}" ga-product-link data-ga-product-list="Related Products" data-ga-event-label="Product Thumbnail" data-ga-product-id="{{ related_product.id }}" data-ga-product-name="{{ related_product.name }}" data-ga-product-category="{{ related_product.account_category and related_product.account_category.name or None }}">
          <img src="{{ CDN }}{{ related_product.default_image and related_product.default_image.transform_command().thumbnail(200, 200, 'a') }}" class="img margin-auto" alt="{{ related_product.name }}">
          </a>
        </div>
        <h4>
          <a href="{{ related_product.get_absolute_url() }}" ga-product-link data-ga-product-list="Related Products" data-ga-event-label="Product Name" data-ga-product-id="{{ related_product.id }}" data-ga-product-name="{{ related_product.name }}" data-ga-product-category="{{ related_product.account_category and related_product.account_category.name or None }}">
            {{ related_product.name }}
          </a>
        </h4>
        <span class="text-muted related-cost">
          <strong>{{ related_product.sale_price(1)|currencyformat(current_locale.currency.code) }}</strong>
        </span>
        <div class="row">
          <span class="col-md-12">
          {% if related_product.salable %}
            {% if related_product.is_gift_card %}
              <a class="btn btn-related-item-add-cart" href="{{ related_product.get_absolute_url() }}">{{ _('Add to Cart') }}</a>
            {% else %}
              <form action="{{ url_for("nereid.cart.add_to_cart") }}" method="post" id="product-buy-now" autocomplete="off" class="form-related-inline related-products add-to-cart" data-ga-event-label="Add To Cart Related Product" data-ga-product-name="{{ related_product.name }}" data-ga-product-category="{{ related_product.account_category and related_product.account_category.name or None }}" data-ga-product-price="{{ related_product.sale_price()|currencyformat(current_locale.currency.code) }}">
                <div class="tooltip-bottom-{{ related_product.id }}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <input type="hidden" name="quantity" value="1"/>
                  <input type="hidden" name="size" id="size-id"/>
                  <input type="hidden" name="product" value="{{ related_product.id }}"/>
                  <input type="hidden" name="action" value="add"/>
                  <button class="btn btn-related-item-add-cart product-buy-now product-{{ related_product.id }}-buy-now-btn" type="button" quantity="1" id="buy-now-btn">{{ _('Add to Cart') }}</button>
                </div>
              </form>
            {% endif %}
          {% else %}
          <span class="text-danger" id="product-not-for-sale"><i class="fa fa-warning"></i>{{ _('This product is not for sale') }}</span>
          {% endif %}
          </span>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  {% endblock related_products %}

  {% endblock product_bottom %}

</div>
{% endblock main %}

{% block script_tags %}
  {{ super() }}
  <script src="{{ CDN }}{{ url_for('nereid.webshop.send_static_file', filename='js/lightbox.js') }}"></script>
{% endblock script_tags %}

{# all this is valid only if nereid-catalog-variants module is installed #}
{% block scripts %}
{{ super() }}
{% if product.template.get_product_variation_data %}
<script type="text/html"  id='product-varying-attrs-tpl'>
  <div class="col-md-12">
    <% _.each(attrs, function(attr, index) { %>
      <% if (attr.widget == 'dropdown') { %>
        <div class="form-group"> {{ _('Select') }} <%= attr.display_name %>: <br/>
          <select class="form-control select-sort attribute input-lg" data-attr-id="<%= attr.attribute_id %>">
            <% _.each(attr.options, function(option, index) { %>
            <option value="<%= _.escape(option[0]) %>" <% if (option[0] == currentVariantAttrs[attr.attribute_id]) { %> selected <% } %> ><%= _.escape(option[1]) %></option>
            <% }); %>
          </select>
        </div>
      <% } %>
    <% }); %>
  </div>
</script>

<script type="text/html" id='product-inventory-tpl'>
  <span class="text-<%= statusClass %>"><i class="fa fa-<%= iconClass %>"></i>
    <%= message %>
  </span>
</script>

<script type="text/html" id="tab-pane-images">
  <%
    _.each(variant.image_urls, function(url_collection, index) {
  %>
    <div class="tab-pane <% if (index == 0) { %> active <% } %>" id="tab<%= index %>">
      <div class="zoom-container">
        <a id="zoom-target" href="<%- url_collection.regular %>" data-lightbox="<%= variant.id %>" >
          <img class="zoom-image" src="<%- url_collection.large %>" alt="<%= variant.rec_name %>" />
        </a>
      </div>
    </div>
  <%
    });
  %>
</script>

<script type="text/html" id="tab-list-images">
  <%
    _.each(variant.image_urls, function(url_collection, index) {
  %>
    <li class="<% if (index == 0) { %> active <% } %>">
      <a href="#tab<%= index %>" data-toggle="tab">
        <img src="<%- url_collection.thumbnail %>" alt="<%= variant.rec_name %>" />
      </a>
    </li>
  <%
    });
  %>
</script>

<script type="text/javascript">
  $(document).ready(function() {

    var productObj = {{ product.template.get_product_variation_data()|safe }};

    var currentVariantId = {{ product.id }}; // on page load this is the product ID

    /*
       Return the variant information given a product variant ID
    */
    var getVariantInfo = function(variantId) {
      return _.find(productObj['variants'], function(product) {
        return (product.id == variantId) ;
      });
    };

    var currentVariant = getVariantInfo(currentVariantId);

    /*
       Find a variant from the list which matches the attributes
       selected. If there is none then return null
    */
    var findVariantMatching = function(attributeSelection) {
      return _.find(productObj['variants'], function(product) {
        return _.isEqual(product.attributes, attributeSelection)
      });
    };

    /*
       called when an attribute changes. Based on the selected attributes,
       it tries to identify the product. If it does, then it returns the
       id of that product
    */
    var onChangeAttribute = function() {
      var attributeSelection = _.reduce(
        $(".attribute"),  // Selector for the attribute fields.
        function(memo, attrEl) {
          // Append the attribute name and value to the map
          memo[attrEl.getAttribute('data-attr-id')] = attrEl.value;
          return memo;
        },
        {} // Initial empty attribute set
      );

      // Find a product which matches the attributes
      product = findVariantMatching(attributeSelection);

      var statusClass, iconClass, message;

      if (product) {
        // Set this product's assets as the current product
        $('.product-price').show();
        $('.product-code').text(product.code);
        $('.product-price').text(product.price);

        // Set only, no removals
        $('.product-name').text(product.name);
        // Set the correct product in all input field
        $('input[name="product"]').val(product.id);

        // Set the images
        var tab_pane_template = $("#tab-pane-images").html();
        $('#pane-tab').html(_.template(tab_pane_template,
          {'variant': product}
        ));
        var tab_list_template = $("#tab-list-images").html();
        $('#list-tab').html(_.template(tab_list_template,
          {'variant': product}
        ));

        // Product inventory
        if(product.inventory_status[0] == 'in_stock'){
          statusClass = iconClass ='info';
          // Remove the disabled attribute from the buy now button.
          $('#buy-now-btn').removeAttr('disabled');
        } else {
          statusClass = 'danger';
          iconClass = 'warning';
          $('#buy-now-btn').attr('disabled', 'disabled');
        }

        message = product.inventory_status[1];

      } else {
        // Display that the product is not available
        $('#buy-now-btn').attr('disabled', 'disabled');
        $('.product-price').hide();
        $('.product-code').text('');

        // Product inventory
        statusClass = 'danger';
        iconClass = 'warning';
        message = "{{ _('Product not available') }}";
      }

      // Set the inventory attributes of the product
      $('#product-inventory').html(_.template(
        $('#product-inventory-tpl').html(), {
          'statusClass': statusClass,
          'iconClass': iconClass,
          'message': message
        }
      ));
    };

    /* Use _ templates to render the attribute options
       Same thing could have been done in jinja but at the
       cost of server time ;)
       */
    $("#product-varying-attrs").html(_.template(
      $("#product-varying-attrs-tpl").html(), {
        'attrs': productObj.variation_attributes,
        'currentVariantAttrs': getVariantInfo({{ product.id }}).attributes
      }
    ));

    $('.attribute').change(onChangeAttribute);
  });
</script>
{% endif %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#add-to-wishlist .dropdown-menu li').on('click', function(){
      var wishlist_id = $(this).val();
      var product_id = {{ product.id }};
      var data = {'wishlist': wishlist_id, 'product': product_id, 'action': "add"}
      $.ajax({
        type: "POST",
        url: "{{ url_for('wishlist.wishlist.wishlist_product') }}",
        data: data,
      }).done(function(){
        $(location).attr('href',"{{ url_for('wishlist.wishlist.render_wishlists', _external=True) }}");
      });
    });
  });
</script>
{% endblock scripts %}

{% block ga_page_view %}
    // 1. Send product and impression data with pageview.
    ga('ec:addProduct', {{ product.ga_product_data()|tojson|safe }});
    ga('ec:setAction', 'detail');
{% endblock ga_page_view %}
