{% extends 'account-base.jinja' %}

{% from '_helpers.jinja' import render_address %}

{% block main %}
<!-- My Orders Page starts here -->
<section class="my-account">
  <div class="container">
    <div class="col-md-12">
    {% block sale_confirmation %}
      {% if confirmation %}
        <div class="alert alert-success order-confirmation">
          <i class="fa fa-check-circle"></i>
          {{ _('Thank You!') }}<br>
          <h4>{{ _('Your Order has been placed successfully.') }}</h4>
        </div>
      {% endif %}
    {% endblock sale_confirmation %}

      {% if not current_user.is_anonymous %}
        {{ account_header(_('My Account / Order #') + (sale.number or ''), 'orders') }}
        <div class="col-md-10 no-pad-xs">
      {% else %}
        <h4 class="text-center">{{ _('Order #') + (sale.number or '')}}</h4>
        <br>
        <div class="col-md-12">
      {% endif %}
        <!--My Orders-->
        <div class="cart-table order-detail-description">
          <div class="row-fluid">
            <div class="col-md-6">
              <div class="invoice-shipment-address">
                <div class="page-header">
                  <h4>{{ _('Invoice Address') }}</h4>
                </div>
                {{ render_address(sale.invoice_address, edit=False) }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="invoice-shipment-address">
                <div class="page-header">
                  <h4>{{ _('Shipment Address') }}</h4>
                </div>
                {{ render_address(sale.shipment_address, edit=False) }}
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-md-6">
              {% block payment_method %}
              <div class="panel panel-default order-payment-panel margin-top-30">
                <div class="panel-heading">
                  <h4>{{ _('Payment Method') }}</h4>
                </div>
                <table class="table">
                {% for payment in sale.payments %}
                 <tr>
                  <td>
                    <strong>
                    {{ payment.description }}
                    </strong>
                  </td>
                  <td>
                  {{ payment.amount|currencyformat(sale.currency.code) }}</td>
                 </tr>
                {% endfor %}
                </table>
              </div>
              {% endblock payment_method %}
            </div>
            <div class="col-md-6">
              {% block order_amounts %}
              <div class="panel panel-default order-payment-panel margin-top-30">
                <div class="panel-heading">
                  <h4>{{ _('Order Total') }}</h4>
                </div>
                <table class="table">
                  <tr>
                    <td><strong>{{ _('Sub Total') }}</strong></td>
                    <td>{{ sale.untaxed_amount|currencyformat(sale.currency.code) }}</td>
                  </tr>
                  <tr>
                    <td><strong>{{ _('Tax Amount') }}</strong></td>
                    <td>{{ sale.tax_amount|currencyformat(sale.currency.code) }}</td>
                  </tr>
                  <tr>
                    <td><strong>{{ _('Total Amount') }}</strong></td>
                    <td>{{ sale.total_amount|currencyformat(sale.currency.code) }}</td>
                  </tr>
                </table>
              </div>
              {% endblock order_amounts %}
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-md-12">
              <div class="panel panel-default margin-top-30">
                <div class="panel-heading">
                  <h4>{{ _('Order Details') }}</h4>
                </div>
                <table class="table">
                  {% block sale_lines_content %}
                  {% for line in sale.lines %}
                  <tr>
                    <td class="col-md-2 col-xs-12">
                      <img src="{{ CDN }}{{ line.product.default_image and line.product.default_image.transform_command().thumbnail(200, 200, 'a') }}"
                      alt="{{ line.product.name }}"
                      title="{{ line.product.name }}"
                      class="img-responsive img-rounded margin-auto">
                    </td>
                    <td class="col-md-4">
                      {% if line.product and line.product.displayed_on_eshop %}
                      <a href="{{ line.product.get_absolute_url() }}"><strong>{{ line.description }}</strong></a>
                      {% else %}
                      <strong>{{ line.description }}</strong>
                      {% endif %}
                      <br>
                      {{ _('Qty:') }} {{ line.quantity }} {{ line.unit.name }}
                    </td>
                    <td class="col-md-4">
                      {{ line.amount|currencyformat(sale.currency.code) }}
                    </td>
                    <td class="action">
                    {% block line_actions scoped %}
                      {% if line.complaints %}
                        <i class="fa fa-info"></i>
                        <a class="text-muted" href="{{ url_for('sale.complaint.render', active_id=line.complaints[0].id) }}">{{ _('View Return') }}</a>
                      {% elif line.is_returnable_under_any_term %}
                        <i class="fa fa-truck"></i>
                        <a class="text-muted" href="{{ url_for('sale.line.return_line', active_id=line.id) }}">{{ _('Return Item') }}</a>
                      {% endif %}
                    {% endblock %}
                    </td>
                  </tr>
                  {% endfor %}
                  {% endblock sale_lines_content %}
                </table>
              </div>
            </div>
          </div>
          {% block add_note %}
          <div class="row">
            <div class="col-md-12">
            {% if not sale.comment and sale.state in sale.comment_allowed_states %}
              <div class="add-comment col-md-12">
                <h5 class="text-muted">{{ _('Add Note') }}</h5>
                <form name="add-comment"id="add-comment-form">
                  <textarea class="form-control" rows="3"  placeholder="{{ _('You can leave a message here') }}" name="comment"></textarea>
                </form>
                  <button name="save-comment" class="btn btn-primary col-md-3 pull-right margin-top-30" id="add-comment" data-url="{{ url_for('sale.sale.add_comment_to_sale', active_id=sale.id, access_code=sale.guest_access_code) }}">{{ _('Save') }}</button>
              </div>
            {% elif sale.comment %}
              <h5> <span class="text-muted">{{ _('Note:') }}</span>&nbsp;{{ sale.comment }}</h5>
            {% endif %}
            </div>
          </div>
          {% endblock add_note %}
        </div>
      </div>
    </div>
</section>
{% endblock main %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).ready(function() {
    $('#add-comment').on('click', function(){
      $.ajax({
        type: "POST",
        url: $(this).data('url'),
        data: $('#add-comment-form').serialize(),
      }).success(function(data) {
          new PNotify({
            title: "{{ _('message') }}",
            text: data.message,
            nonblock: {
              nonblock: true,
              nonblock_opacity: .4
            },
            animation: 'show'
          });
        $('.add-comment').html('<h5><span class="text-muted">{{ _('Note:') }}  </span>' + data.comment +'</h5>');
      });
    });
  });
</script>
{% endblock scripts %}


{% block ga_page_view %}
{% if confirmation %}
    {% for line in sale.lines if line.product %}
      ga('ec:addProduct', {{ line.product.ga_product_data(price=line.unit_price|string, quantity=line.quantity|string)|tojson|safe }});
    {% endfor %}
    ga('ec:setAction', 'purchase', {{ sale.ga_purchase_data()|tojson|safe }});
{% endif %}
{% endblock ga_page_view %}
