{% extends 'base.jinja' %}
{% from 'webshop/_helpers.jinja' import render_es_pagination, render_pagination, render_search_filter_field, render_product_list with context %}

{% block breadcrumb %}
{{ super() }}
{{ render_breadcrumb_item(_('Search Results'), url_for('nereid.website.quick_search', q=request.args.get('q', ''))) }}
{% endblock breadcrumb %}

{% block main %}
<section>
  <div class="container">
  {% if facets %}
  {% block sidebar %}
    {% set facet_show_limit = 5 %}
    <div class="col-md-3 hidden-sm hidden-xs">
      <div class="sidebar">
        <h4>{% trans %}Refine your search{% endtrans %}</h4>
        <form id="filter-form-sidebar" class="filter-form">
          <input type="hidden" name="q" value="{{ request.args.get('q') }}" />
          <input type="hidden" name="page" value="1"/>
          {% for key, value in facets.items() %}
            {% if value['total'] %}
              <div class="row facet-attr">
                {% set facet_checked = request.args.getlist(key) %}
                  <ul class="list-unstyled">
                    <li class="text-capitalize list-heading"><strong>{{ key }}</strong></li>
                    {% for term in value['terms'][:facet_show_limit] %}
                      <li>{{ render_search_filter_field(term, facet_checked, key) }}</li>
                    {% endfor %}
                  </ul>
                  <ul class="list-unstyled show-on-more">
                    {% for term in value['terms'][facet_show_limit:] %}
                      <li>{{ render_search_filter_field(term, facet_checked, key) }}</li>
                    {% endfor %}
                  </ul>
                {% if value['terms']|length > facet_show_limit %}
                  <div class="more btn btn-default btn-sm toggle-show-more">
                    <span class="hide-on-more">
                      +{{ (value['terms'] | length) - facet_show_limit }} {% trans %}More{% endtrans %}
                    </span>
                    <span class="show-on-more">
                      {% trans %}Show less{% endtrans %}
                    </span>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
          <br>
          <a href="{{ url_for('nereid.website.quick_search', q=request.args.get('q', '')) }}" class="btn btn-block btn-default">{% trans %}Clear Filters{% endtrans %}</a>
          <br>
        </form>
      </div>
    </div>
  {% endblock %}
  {% endif %}
  <div class="col-md-9">
    <!-- category page -->
    <div class="row">
      <!-- Content bar -->
      <div class="col-md-12">
        <h3 class="list-heading">{% trans %}You searched for{% endtrans %}: <em>{{ request.args.get('q', '') }}</em></h3>
      </div>
    </div>
      {% block filter %}
      <!--Filter Option -->
      <!--
      <div class="col-md-3">
        <select class="form-control select-sort">
          <option>Discount</option>
          <option>Low Price First</option>
          <option>High Price First</option>
          <option>Popularity</option>
          <option>What's New</option>
        </select>
      </div>
      -->
      {% endblock filter %}

    {% if products %}
    <div class="row">
      <div class="col-md-12 node-items-block-separator center">
        <h5 class="text-muted">
          {{ products.begin_count }} {{ _('to') }} {{ products.end_count }} {{ _('of') }} {{ products.count }} {{ _('results for') }} '{{ request.args.get('q', '') }}'
        </h5>
      </div>
    </div>
    <div class="row product-list">
      {% for product in products %}
        <div class="col-md-3 col-sm-4 col-xs-6 product-list-item">
        {{ render_product_list(product, product_list_name="Search Results") }}
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if facets %}
        {{ render_es_pagination(products) }}
        {% else %}
        {{ render_pagination(products, endpoint='nereid.website.quick_search', q=request.args.get('q', '')) }}
        {% endif %}
      </div>
    </div>

    {% else %}
    
    <div class="row">
      <div class="col-md-12">
        <div id="not-found" class="alert alert-warning">
          {% trans %}Oops! No Products found for your search criteria.{% endtrans %}
          {% if facets %}
          <br>
          {% trans %} To try a search without filters,{% endtrans %}
          <a href='{{ url_for('nereid.website.quick_search', q=request.args.get('q', '')) }}'>{% trans %}click here{% endtrans %}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

  </div>
  </div>
</section>
{% endblock main %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $(function (){
    $(".es_pagination a[data-page-no]").click(function (e) {
      e.preventDefault();
      $('#filter-form-sidebar input[name="page"]').val($(this).data('page-no')).change();
    })

    $("#filter-form-sidebar input").on('change', function(){
      $("#filter-form-sidebar").submit();
    });

    $('.toggle-show-more').click(function(){
      // This method implements the toggle logic, to show and hide blocks in facet filter.
      var elm = $(this).closest('.facet-attr');
      if (!elm.hasClass('show-more')) {
        elm.addClass('show-more');
        elm.find('span.hide-on-more').hide();
        elm.find('span.show-on-more').show();
        elm.find('ul.show-on-more').slideDown();
      }
      else {
        elm.removeClass('show-more');
        elm.find('span.hide-on-more').show();
        elm.find('span.show-on-more').hide();
        elm.find('ul.show-on-more').slideUp();
      }
    });
  });
</script>
{% endblock %}
