{% extends 'product.jinja' %}

{% from '_helpers.jinja' import render_product, render_field %}

{% block product_name_price %}
  {# product name/price section #}
  <h3 class="product-heading product-name">
    <span itemprop="name">{{ product.name }}</span>
  </h3>
  <h4>
    <small class="product-code" itemprop="sku" content="{{ product.code }}">{{ product.code }}</small>
  </h4>
  {% if product.allow_open_amount %}
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <span itemprop="priceCurrency" content="{{ current_locale.currency.code }}"></span>
          <span itemprop="price" content="{{ product.sale_price(1)|currencyformat(current_locale.currency.code) }}"></span>
      <h4 class="product-price" itemprop="priceSpecification" itemscope itemtype="http://schema.org/UnitPriceSpecification">
          <span itemprop="priceCurrency" content="{{ current_locale.currency.code }}"></span>
          {% set min_price = product.gc_min|currencyformat(current_locale.currency.code) %}
          {% set max_price = product.gc_max|currencyformat(current_locale.currency.code) %}
          <span itemprop="minPrice" content="{{ min_price }}">{{ min_price }}</span> - <span itemprop="maxPrice" content="{{ max_price }}">{{ max_price }}</span>
      </h4>
    </div>
  {% endif %}
{% endblock product_name_price %}

{% block buy_buttons %}
  <div class="row cart_wish">
    {% if product.salable %}
      <div class="col-md-12">
        <form action="" method="post" id="product-buy-now" autocomplete="off">
          <div class="form-group">
            <div class="row margin-top-15">
                <div class="col-md-12">
                  {{ render_field(form.selected_amount, label_text= _('Amount'), required=required, id="selected_amount") }}
                </div>
            </div>
            <div class="row margin-top-15">
                {% if product.allow_open_amount %}
                    <div class="col-md-12" id="enter_amount">
                      {{ render_field(form.open_amount, label_text= _('Enter Amount'), placeholder=_('0.00')) }}
                    </div>
                {% endif %}
            </div>

            <div class="row margin-top-15">
              <div class="col-md-12">
                {{ render_field(form.recipient_name, label_text= _('Recipient Name'), placeholder=_('Enter Name'), type="text") }}
              </div>
            </div>
            <div class="row margin-top-15">
              {% if product.gift_card_delivery_mode in ['virtual', 'combined'] %}
                <div class="col-md-12">
                  {{ render_field(form.recipient_email, label_text= _('Recipient Email'), placeholder=_('Enter Email'), type="email", required=required) }}
                </div>
              {% endif %}
            </div>
            <div class="row margin-top-15">
              <div class="col-md-12">
                {{ render_field(form.message, label_text=_('Message (max. 200 Characters)'), placeholder=_('Enter Message'), type="textarea", maxlength="200") }}
              </div>
            </div>
            <div class="row margin-top-15">
                <div class="buy-now col-md-12">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <button class="btn btn-buynow btn-block btn-lg" type="submit" id="buy-now-btn">{{ _('Buy Now') }}</button>
                </div>
            </div>
          </div>
        </form>
      </div>
    {% else %}
      <div style="padding-top:15px;">
        <span class="text-danger" id="product-not-for-sale"><i class="fa fa-warning"></i>{{ _('This product is not for sale') }}</span>
      </div>
    {% endif %}
  </div>
  <hr/>
{% endblock buy_buttons %}

{% block scripts %}
{{ super() }}

{% if product.allow_open_amount %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#selected_amount').change(function(){
      if ($( "#selected_amount" ).val() != 0) {
          $( "#enter_amount").hide();
      } else {
        $( "#enter_amount").show();
      }
    });
  });
</script>
{% endif %}
{% endblock %}
