{% extends 'base.jinja' %}

{% set checkout_page = True %}
{% set checkout_step = checkout_step or 0 %}
{% set checkout_step_name = checkout_step_name or '' %}

{% block breadcrumb %}{% endblock %}

{% block main_navigation %}
<div class="container logo-container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        {{ checkout_step_name }}
        {% if request.is_secure %}
        <br/>
        <small><i class="fa fa-lock"></i> {{ _('This is a secure transaction') }}</small>
        {% endif %}
      </h3>
    </div>
  </div>
</div>
{% endblock main_navigation %}

{% from '_helpers.jinja' import render_address %}

{% block header_row_2 %}
<div class="container logo-container">
  <div class="row">

    {% block logo %}
      {{ super() }}
    {% endblock logo %}

    {% block checkout_steps %}
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!-- Checkout Step Indicator -->
        <div class="checkout-steps">
          <ul class="list-inline center">

            <li class="checkout-step">
              <div class="checkout-step-number {% if checkout_step >= 1 %}done{% endif %}">
                <a href="{{ url_for('nereid.checkout.sign_in') }}">
                  <span><i class="fa fa-shopping-cart"></i></span>
                </a>
              </div>
              <span class="checkout-step-name">{{ _('Sign In') }}</span>
            </li>

            <li class="checkout-step">
              <div class="checkout-step-number {% if checkout_step >= 2 %}done{% endif %}">
                <a href="{{ url_for('nereid.checkout.shipping_address') }}">
                  <span><i class="fa fa-truck"></i></span>
                </a>
              </div>
              <span class="checkout-step-name">{{ _('Delivery') }}</span>
            </li>

            <li class="checkout-step">
              <div class="checkout-step-number {% if checkout_step >= 3 %}done{% endif %}">
                <a href="{{ url_for('nereid.checkout.payment_method') }}">
                  <span><i class="fa fa-credit-card"></i></span>
                </a>
              </div>
              <span class="checkout-step-name">{{ _('Payment') }}</span>
            </li>

          </ul>
        </div>
      </div>
    {% endblock checkout_steps %}

  </div>
</div>
{% endblock header_row_2 %}

{% macro google_analytics_add_product() %}
  {# This must be called from within a script tag #}
  {% set cart = get_cart() %}
  {% if cart and cart.sale %}
    // Set tracker currency to sale currency
    ga('set', '&cu', '{{ cart.sale.currency.code }}');

    {% for line in cart.sale.lines if line.product %}
      ga('ec:addProduct', {{ line.product.ga_product_data(price=line.unit_price, quantity=line.quantity|string)|tojson|safe }});
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro cart_summary() %}
{% block cart_summary_macro %}
  {% set cart = get_cart() %}
  {% if cart and cart.sale %}
  {% set currency = cart.sale.currency.code %}
  {% block order_summary scoped%}
  <div class="cart-summary">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr class="active">
              <td colspan="3">
                <h4> {{ _('Order Summary') }}
                  <span class="pull-right small text-muted">
                    <a href="{{ url_for('nereid.cart.view_cart') }}" class="">
                      <i class="fa fa-pencil"></i> {{ _('Edit') }}
                    </a>
                  </span>
                </h4>
              </td>
            </tr>
          </thead>
          <tbody>
            {% block lines scoped %}
            {% for line in cart.sale.lines %}
              {{ line.render(purpose='summary') }}
            {% endfor %}
            {% endblock lines %}
          </tbody>
        </table>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td colspan="2" class="text-right">{{ _('Subtotal') }}</td>
              <td class="text-right ">{{ cart.sale.untaxed_amount|currencyformat(currency) }}</td>
            </tr>
            <tr>
              <td colspan="2" class="text-right ">{{ _('Estimated Tax') }}</td>
              <td class="text-right ">
                {{ cart.sale.tax_amount|currencyformat(currency) }}
                <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title={{ _('The sales tax listed on the checkout page is only an estimate. The final total sales tax will be reflected on your invoice and will be included state and local sales taxes, as well as any applicable rebates or fees.') }} class="estimated-tax">
                  [<span class="text-info"><i class="fa fa-question"></i></span>]
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="cart-total-sum text-right"><strong>{{ _('Grand Total') }}</strong></td>
              <td class="cart-total-sum text-right"><strong>{{ cart.sale.total_amount|currencyformat(currency) }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- END: panel -->
  {% endblock order_summary %}

  {% if cart.sale.shipment_address %}
  <div class="cart-summary">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr class="active">
              <td colspan="3">
                <h4> {{ _('Shipping Address') }}
                  <span class="pull-right small text-muted">
                    <a href="{{ url_for('nereid.checkout.shipping_address') }}" class="">
                      <i class="fa fa-pencil"></i> {{ _('Edit') }}
                    </a>
                  </span>
                </h4>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ render_address(cart.sale.shipment_address, edit=False) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}

  {% if cart.sale.invoice_address %}
  <div class="cart-summary">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr class="active">
              <td colspan="3">
                <h4> {{ _('Billing Address') }}
                  <span class="pull-right small text-muted">
                    <a href="{{ url_for('nereid.checkout.billing_address') }}" class="">
                      <i class="fa fa-pencil"></i> {{ _('Edit') }}
                    </a>
                  </span>
                </h4>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ render_address(cart.sale.invoice_address, edit=False) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}

  </div>
  {% endif %}
{% endblock cart_summary_macro %}
{% endmacro %}
