{% extends 'checkout/base.jinja' %}

{% from '_helpers.jinja' import render_field %}

{% set checkout_step = 3 %}
{% set checkout_step_name = _('Billing Address') %}


{% block main %}
<section class="checkout-container">
  <div class="container">
    <!--Delivery Address Selection -->
    <div class="row delivery-address">
      <div class="col-md-12">
        <h4><span>{{ _('Billing Address') }}</span></h4>
        <div class="col-md-8">
          <div class="address-container">
            {% if not current_user.is_anonymous and addresses %}
            <h4><span>{{ _('Choose from an existing address below') }}</span></h4>
            <div class="row">
              {% for address in addresses %}
              <div class="col-md-6">
                <div class="well well-small" data-address-id="{{ address.id }}">
                {{ render_address(address, edit=False) }}
                </div>
                <form role="form" method="POST" autocomplete="off" class="text-right">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <input type="hidden" name="address" value="{{ address.id }}"/>
                  <button type="submit" class="btn btn-primary">
                    {{ _('Use this address') }}&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>
                  </button>
                </form>
              </div>
              {% endfor %}
            </div>

            {#
            <!-- On selecting address this input field will have id of selected address -->
            <input type="hidden" class="form-control" name="address" id="address-id" autocomplete="off">
            <div class="row">
              <div class="col-md-6 pull-right">
                <a href="checkout-step-three.html" class="btn btn-primary pull-right">
                  {{ _('Proceed to Payment') }}&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>
                </a>
              </div>
            </div>
            #}

            <div class="row center">
              <div class="or"><span class="circle">{{ _('or') }}</span></div>
            </div>
            {% endif %}

            <h4>
              {% if addresses %}
              <span>{{ _('Add a new address below') }}</span>
              {% else %}
              <span>{{ _('Enter your billing address') }}</span>
              {% endif %}
            </h4>
            <!-- Add new address form -->
            <form role="form" method="POST" autocomplete="off">
              {{ address_form.hidden_tag() }}
              {{ render_field(address_form.name, required=required) }}
              {{ render_field(address_form.street,  placeholder=_("Street address, P.O. box, company name, c/o"), class_="form-control", label_text= _('Address'), required=required) }}
              <div class="row">
                <div class="col-md-6">
                  {{ render_field(address_form.city, required=required) }}
                </div>
                <div class="col-md-6">
                  {{ render_field(address_form.postal_code, required=required) }}
                </div>
                <div class="col-md-6">
                  {{ render_field(address_form.country) }}
                </div>
                <div class="form-group col-md-6">
                  <label>{{ _('State') }} *:</label>
                  <select class="form-control" id="subdivision" name="subdivision">
                  </select>
                </div>
                <div class="col-md-6">
                    {{ render_field(address_form.phone, required=required) }}
                </div>
                <div class="col-md-offset-3 col-md-6">
                  <button type="submit" class="btn btn-primary btn-block">
                    {{ _('Proceed to Payment') }}&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
        <!-- Cart Summary -->
        {{ cart_summary() }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
  // Register on change event

  $("select#country").change(function(){
    $("select#subdivision").html('');  // Clear options as soon as country change
    $.getJSON("{{ url_for('nereid.website.subdivision_list') }}",
      {country: $(this).val()}, function(data){
      var options = '';
      $.each(data.result, function(index, map){
          options += '<option value="' + map.id + '" code="' + map.code + '">' + map.name + '</option>';
      });
      $("select#subdivision").html(options);
      $("select#subdivision option[value='{{ address_form.subdivision.data }}']").attr('selected', true);
    });
  });

 // Onload trigger the change as country comes packed with form
  $("select#country").triggerHandler("change")
});
</script>
{% endblock  scripts %}


{% block ga_page_view %}
  {{ google_analytics_add_product() }}
  ga('ec:setAction', 'checkout', {'step': 5});
{% endblock ga_page_view %}
